<!--The content below is only a placeholder and can be replaced.-->
<div class="encabezado">
  <h1>
    hola {{title}}!
  </h1>
  <app-copyright></app-copyright>
</div>
<div class="container">
  <h3>Ejemplo de Intepolación con Objeto</h3>
  <hr>
  <app-view-modelo></app-view-modelo>
  <app-ejmetodo></app-ejmetodo>
  <h3>Ejemplo de Property Binding</h3>
  <app-ejpropertybinding></app-ejpropertybinding>
  <app-ejem-directive-ngif></app-ejem-directive-ngif>
  <app-ejem-directive-ng-style></app-ejem-directive-ng-style>

  <h3>Ejemplo de ngClass</h3>
  <app-ejem-directiva-ng-class></app-ejem-directiva-ng-class>
  <br>

  <h3>Ejemplo de *ngFor parte 1</h3>
  <app-ejem-ngfor></app-ejem-ngfor>
  <br>

  <h3>Ejemplo de *ngFor parte 2</h3>
  <app-ejem-ngfor-objetos></app-ejem-ngfor-objetos>
  <br>
</div>

